@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@import 'tailwindcss';

@theme {
  --font-main: 'Inter', 'Noto Sans Thai', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-main);
  }
}